body {
    background-color: maroon;
    width: 1200px;
    margin: auto;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

.jumbotron {
    background-color: maroon;
    text-align: center;
    font-family: Lucida Sans;
    font-size: 20px;
}

.p {
    font-size: 20px;
}

.row {
    justify-content: space-around;
    padding: 40px;
}

.col-md-6 {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;

}

.area {
   padding: 10px 50px;
}

#player1-header {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
#player2-header {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    }
.active {
    background-color: green;
    color: white;
}