html {
    scroll-behavior: smooth;
}

body {

    background-image: url(../images/background.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    text-decoration: none;
    color: #fff;
    
}

.brand-logo {
    color: #fff;
    font: bolder;
    font-size: 20px;

}

.pig-wrapper {
    font-family: 'Roboto Condensed',
        sans-serif;
    font-family: 'Lucida Sans';
    margin-top: 150px;

}

.pig-wrapper1 {

    font-family: 'Lato',
        sans-serif;

    margin-top: 40px;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    text-align: justify;
    font: bolder;
}

.pig-wrapper2 {
    margin-top: 40px;
}


h2 {
    font-size: 30px;
    margin-top: 5px;

}

#playwrapper {
    text-align: center;
    margin-top: 80px;


}

.btn btn-default {
    border-radius: 3px;
}

